

$container-max-width: 1200px;
$container-padding: 15px;
$mobile-breakpoint: 768px;
$tablet-breakpoint: 992px;




/* Colors: */
$hed-bg:#fff;
$primary:#D4B262;
$secondary:#000000;
$secondary-lit:#ffffff;
$grt-bar:#f8f8f8;

$pm-font:"Quicksand", sans-serif;
$pm-txt-clr:#3BB2BF;
$h2text:#000;
$videowrap:#4BBFBF;

$typography-text:'PT Sans', sans-serif;
$text-muted:#eee;
$bg-lit: #f2f2f2;
$bg-hero: #f2f2f2;
$pm-lite: #eaebf2;
$sec-lite:#fff7cd;
$hash-text: #64645E;
$lit-border-color: #d9d9d9;
$black:#000000;
$white:#ffffff;
$headingcolor:#212529;
$pmtext:#111111;



/* Font/text values */
$font-family-ptsans:'PT Sans', sans-serif;
$font-style-normal: normal;
$font-weight-600: 600;
$font-weight-normal: normal;
$font-weight-bold: 700;
$font-size-16: 16px;
$font-size-21-329999923706055: 21.329999923706055px;
$font-size-28-43000030517578: 28.43000030517578px;
$font-size-67-33999633789062: 67.33999633789062px;
$font-size-50-52000045776367: 50.52000045776367px;
$font-size-37-900001525878906: 37.900001525878906px;
$character-spacing-0: 0px;
$line-spacing-20: 20px;
$line-spacing-26: 26px;
$line-spacing-35: 35px;
$line-spacing-47: 47px;
$line-spacing-54: 54px;
$line-spacing-68: 68px;



$top-bar-starting-height:  40px;
$top-bar-scrolling-height: 0px;

$header-starting-height:  150px;
$header-scrolling-height: 60px;

$primary-accent-color:    #253B80;
$secondary-accent-color:  #179BD7;
$tertiary-accent-color:   #8DED10;

$facebook-brand-color:    #3b5998;
$twitter-brand-color:     #00aced;
$google-plus-brand-color: #dd4b39;
$youtube-brand-color:     #bb0000;
$linkedin-brand-color:    #007bb6;
$yelp-brand-color:        #B4282E;
$pinterest-brand-color:   #cb2027;




