@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belgrano&display=swap');
@import "variable";
@import "mixins";
@import "footer";
@import "header";

//@import "menu";
//@import "splide"
/* Headings */
.font-prata {
  font-family: 'Prata', serif;
}

.font-cormorant {
  font-family: 'Cormorant Garamond', serif;
}

/* Body text */
.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.belgrano-regular {
  font-family: "Belgrano", serif;
  font-weight: 400;
  font-style: normal;
}


